.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    text-align: center;
    font-size: 16px;
    opacity: 1;
    background: #7d879c6b;
  }

.swiper-pagination-bullet-active {
  background: #2b3445;
}
